.commerce-checkout-flow {

    #edit-shipping-information-shipping-profile {
        .address-book-edit-button{
            margin: 10px 0;
        }
    }
    #edit-shipping-information-recalculate-shipping {
        display: none;
    }

    .layout-region-checkout-secondary {
        .order-total-line-label {
            margin-right: 10px;
        }
    }

    
    .mobile-number-field {
    padding: 20px 0;
        .form-type-select {
            width: 100px;
        }
    }
    #edit-sidebar-coupon-redemption-form-apply {
        @include button-gradient;
        margin-top: 0px;
        font-size: 15px;
        @media screen and (min-width: $screen-md) {
            float: right;    
        }
    }
    #edit-actions-next {
        margin-top: 10px;
    }

    .checkout-pane-completion-message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .checkout-pane-login {
        .form-wrapper__login-option {
            @media screen and (max-width:$screen-md) {
                padding: 10px;
            }
        }
    }
}