.cart-empty-page,
.checkout-complete{
  font-size: 25px;
  margin: 20px auto;
  font-weight: 300;
  max-width: 560px;
  
  .register-to-track {
    font-size: 20px;
    margin-top: 20px;
    font-style: italic;;
  }
  
}

.path-checkout .page-header,
.path-checkout .breadcrumb {
  display: none;
}

.form-wrapper__returning-customer {
  background: var(--primaryLight);
  #edit-login-returning-customer-forgot-password {
    padding: 20px 0;
    font-weight: bold;
    display: block;
  }
}
.form-wrapper__guest-checkout {
  background: var(--primaryLighter);
  button {
    background: var(--header);
    color: #fff;
    border: none;
  }
}

.path-cart {
  [id="edit-submit"] {
    @extend .btn-default
  }
  [id="edit-checkout"] {
    @extend .btn-primary;
  }

  .form-actions {
    text-align: right;
  }
}

.checkout-pane-completion-register {
  
  background: var(--primaryLight);
  padding: 30px;
  max-width: 500px;
  margin: 50px auto;
  .commerce-checkout-completion-register__text {
    margin-bottom: 20px;
  }
}

.layout-order-form {
  
  background: var(--primaryLight);
  .layout-region{
    padding: 25px;
  }
}
.layout-region-order-secondary {
  background: var(--primaryColor);
  padding: 10px 30px;
  details {
    margin: 20px 0;
    background: var(--primaryLighter);
    summary { 
      background: var(--primaryLight);
      padding: 15px;
    }
    .details-wrapper {
      padding: 20px;
    }
  }
}