.featured-products{
  padding: 20px 0 50px;
  h2 {
    font-size: 25px;
    text-align: left;
    @media screen and (max-width: $screen-sm) {
      text-align: center;
    }
  }
}

.testimonial{
  margin-bottom: 0;
  background-image: url("../images/testimonial.png");
  background-size: cover;
  background-position: center;
  padding: 85px 0;
  &__text{
    font-style: italic;
  }
  &__rating{
    margin: 15px 0;
  }
}