//
// Product catalog view mode
// --------------------------------------------------
.commerce-product--catalog {
  margin: 5px auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: #ddd 0px 0px 10px;
  padding: 20px 10px;

  @media screen and (max-width: $screen-lg) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 0px 10px;
  }
  @media screen and (max-width: $screen-sm) {
    flex-direction: column;
    margin: 0;
  }


  .commerce-product--catalog__image {
    overflow-y: hidden;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    @media screen and (max-width: $screen-lg) {
      height: 150px;
    }
    img {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }


  &:hover {
    background: var(--primaryColor);

    // .commerce-product--catalog__image {
    //   img {
    //     background: var(--primaryColor);
    //   }
    // }

    .commerce-product--catalog__hover-text {
      visibility: visible;
      opacity: 1;
    }
    .field--name-list-price {
      color: var(--textColor);
    }
    .field--name-price  {
      color: var(--textColor);
    }

  }

  &__image {
    position: relative;
    img {
      transition: all .4s ease;
    }
  }

  &__info {
    position: relative;
    padding: 10px 20px;
    font-size: $font-size-h4;
    transition: all .4s ease;
    min-height: 90px;

    .field--name-title {
      line-height: 1.2;
      transition: padding-right .4s ease;

      a {
        font-weight: bold;

        &:before {
          position: absolute;
          top: 0;
          display: block;
          width: 100%;
          height: 100%;
          content: "";
        }
      }
    }
    .field--name-price {
      font-weight: bold;
    }
    .field--name-list-price {
      font-weight: bold;
      color: #965d5d;
      font-size: 13px;
      margin-top: 10px;
    }

    @media screen and (max-width: $screen-xs) {
      font-size: 14px;
      margin: 0;
      padding: 0;
      .field--name-price {
        font-size: 15px;
      }
      .field--name-list-price {
        font-size: 13px;
      }
    }
  }

  &__hover-text {
    position: absolute;
    top: 0;
    display: flex;
    visibility: hidden;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: $font-size-h4;
    opacity: 0;
    transition: all .4s ease;

    &:hover {
      color: white;
    }

    .glyph {
      width: 100%;
      font-size: 44px;
    }
  }
}

//
// Product catalog view filters
// --------------------------------------------------
.view-product-catalog {
  .view-filters {
    margin: 0 auto 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid $brand-primary-o;

    .select-wrapper,
    .select-wrapper select {
      width: 100%;
    }

    .form-group {
      vertical-align: bottom;
    }

    .form-actions,
    .form-item {
      margin-bottom: 10px;
    }

    .form-actions .btn {
      margin-right: 0;
      min-width: 120px;
      font-size: 18px;

      @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
    }

    @media screen and (min-width: $screen-sm) {
      .form-item {
        margin-right: 15px;
      }
    }

    @media screen and (min-width: $screen-lg) {
      .form--inline {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        &:before,
        &:after {
          display: none;
        }
      }

      .select-wrapper {
        margin-left: 5px;
        width: auto;
      }
    }
  }
}

.list-more {
  position: relative;
  margin-bottom: 20px;

  .view-header {
    position: absolute;
    top: -70px;
    left: 30px;
    img {
      width: auto;
      height: 50px;
    }
  }
  @media screen and (max-width: $screen-md) {
    .more-link {
      text-align: center;
      a {
        display: inline-block;
        border-radius: 10px;
        padding: 10px 30px;
        width: 120px;
        margin: 10px auto;
        background: var(--primaryColor);
        text-align: center;
        color: var(--textColor);
        font-weight: bold;
        position: relative;
        &:hover {
          background: var(--primaryLight);
        }
      }
    }
  }
  @media screen and (min-width: $screen-md) {
    display: flex;
    align-items: center;
  
    .view-content {
      flex-grow: 1;
    }
    .more-link {
      a {
        border-radius: 100%;
        text-align: center;
        font-size: 0;
        display: block;
        background: var(--primaryColor);
        &:before {
          content: '';
          background: url(../icons/arrow-circle.svg) no-repeat;
          background-size: contain;
          width: 60px;
          height: 60px;
          display: block;
        }
  
        &:hover {
          animation: move-left-right 0.2s infinite alternate-reverse;
  
          &:after {
            content: 'more';
            font-size: 15px;
            font-weight: bold;
            display: block;
            position: absolute;
            left: 10px;
          }
        }
      }
    }
  }
}