.close-btn {
  
  padding: 20px;
  position: absolute;
  right: 20px;
  top: 60px;
  z-index: 3;
  margin: 20px 0;
  border: 0;
  background: transparent;
  color: var(--textColor);
  font-size: 13px;

  @extend .glyph;
  @extend .glyph-close;
  &:focus {
    outline: 0;
  }
}

