.region-featured {
    height: 400px;
    position: relative;
    overflow: hidden;

    .swiper-container {
        overflow: initial;
    }
    .swiper-slide {
        overflow: hidden;
    }
}
.view-featured-banner {
    .field-content {
        display: flex;
        justify-content: center;

        @media screen and (max-width: $screen-lg) {
            flex-direction: column;
        }
    }

    .views-row {
        height: 400px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
}

.paragraph--type--image-and-quote {
    .field--name-field-icon {
        vertical-align: middle;
        display: inline-block;
        img {
            width: 200px;
        }
        @media screen and (max-width: $screen-sm) {
            width: 70px;
        }
    }
    .field--name-field-body {
        vertical-align: middle;
        display: inline-block;
        max-width: 500px;
        margin-left: 40px;

        @media screen and (max-width: $screen-sm) {
            h2 {
                font-size: 22px;
                text-align: center;
            }
            margin-left: 0px;
        }
    }

    @media screen and (max-width: $screen-sm) {
        padding: 0 80px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.paragraph--type--feature-with-icon {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--primaryColor);
    box-shadow: 0px 0px 50px 0px #2227;
    font-size: 15px;
    position: relative;
    flex-direction: column;
    height: 330px;
    padding: 20px 25px;
    width: 280px;
    text-align: center;
    margin: 10px 20px;
    @media screen and (max-width: $screen-lg) {
        flex-direction: row;
        height: 100px;
        min-width: 600px;
    }
    @media screen and (max-width: $screen-sm) {
        flex-direction: row;
        height: 100px;
        min-width: initial;
        width: 80%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto;
        text-align: left;
        padding: 10px;
        grid-column-gap: 10px;
    }
    
    .field--name-field-title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 16px;
        margin-top: 10px;
        @media screen and (max-width: $screen-lg) {
            margin: 0;
            font-size: 16px;
            min-width: 120px;
        }
        @media screen and (max-width: $screen-sm) {
            padding-bottom: 3px;
            align-self: end;
        }
    }

    .field--name-field-icon {
        margin: 10px;
        img {
            width: 60px;
        }
        @media screen and (max-width: $screen-sm) {
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }
    .field--name-field-body {
        @media screen and (max-width: $screen-sm) {
           grid-column-start: 2;
           margin: 0;
           align-self: start;
        }
        @media screen and (max-width: $screen-lg) {
            font-size: 12px;
        }
        margin: auto 10px;
    }
    .field--name-field-link {
        text-align: center;
        margin: 10px;
        a {
            @include button-gradient;
            display: block;
            margin: auto;
            
            @media screen and (max-width: $screen-sm) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                background: none;
                font-size: 0;

                &:hover {
                    background: #0008;
                }
            }
        }
    }
}

.paragraph--type--full-width-image {
    height: 400px;
    img {
        height: 100%;
        max-width: initial;
    }

    .field--name-field-link {
        a {
            position: absolute;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            color: transparent;
        }
    }
}

.paragraph--type--full-image-width-with-feature {
    .paragraph--type--feature-with-icon {
        z-index: 1;
        margin: auto;
    }
    @media screen and (min-width: $screen-lg) {
        .paragraph--type--feature-with-icon {
            position: absolute;
            left: 190px;
            top: 25px;
        }
    }
    @media screen and (max-width: $screen-lg) {
        .field--name-field-feature {
            position: absolute;
            width: 100%;
            bottom: 20px;
            left: 0;
        }
    }
    
}