.region-featured {
    height: 400px;
    position: relative;
    overflow-y: hidden;
}
.view-featured-banner {
    margin: 25px 0;

    .field-content {
        display: flex;
        justify-content: center;

        @media screen and (max-width: $screen-lg) {
            flex-direction: column;
        }
    }

    .views-row {
        height: 350px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
}

.paragraph--type--image-and-quote {
    .field--name-field-icon {
        vertical-align: middle;
        display: inline-block;
        img {
            width: 200px;
        }
        @media screen and (max-width: $screen-sm) {
            width: 70px;
        }
    }
    .field--name-field-body {
        vertical-align: middle;
        display: inline-block;
        max-width: 500px;
        margin-left: 40px;

        @media screen and (max-width: $screen-sm) {
            h2 {
                font-size: 22px;
                text-align: center;
            }
            margin-left: 0px;
        }
    }

    @media screen and (max-width: $screen-sm) {
        padding: 0 80px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.paragraph--type--feature-with-icon {
    display: flex;
    align-items: center;
    height: 100px;
    border: 3px solid;
    border-radius: 10px;
    background-color: var(--primaryLighter);
    font-size: 14px;
    position: relative;
    flex-direction: row;
    padding: 10px 20px;
    margin: 0 40px;
    max-width: 600px;

    @media screen and (min-width: $screen-lg) {
        flex-direction: column;
        height: 330px;
        margin: 0 30px;
        padding: 20px 25px;
        width: 280px;
        text-align: center;
    }

    .field--name-field-title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 20px;
        margin-top: 10px;
        @media screen and (max-width: $screen-lg) {
            margin: 0;
            font-size: 16px;
        }
    }

    .field--name-field-icon {
        margin: 10px;
        img {
            width: 60px;
        }
    }
    .field--name-field-body {
        @media screen and (max-width: $screen-sm) {
            display: none;
        }
        margin: auto 10px;
    }
    .field--name-field-link {
        text-align: center;
        margin: 10px;
        @media screen and (max-width: $screen-sm) {
            display: none;
        }
        a {
            display: block;
            width: fit-content;
            min-width: 150px;
            padding: 14px;
            background: var(--primaryLight);    
            color: var(--dark);
            font-weight: 800;
            border: 3px solid;
            border-radius: 10px;
            margin: auto;

            &:hover {
                background: var(--dark);
                color: var(--primaryLighter);
            }
        }
    }
}

.paragraph--type--full-width-image {
    position: relative;
    .field--name-field-link {
        a {
            position: absolute;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            color: transparent;
        }
    }
}