#block-exposedformproduct-catalogpage-2 {
    justify-self: center;
    margin: auto;

    form#views-exposed-form-product-catalog-page-2 {
        text-align: right;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: flex-end;
    
    
        @media screen and (max-width: $screen-sm) {
            justify-content: center;
        }
            
        button{
            height: 25px;
            width: 25px;
            padding: 0;
            border: none;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    
        .form-item-sort-by {
            display: none;
        }
    }
    .form-item-search-api-fulltext {
        input[type='text'] {
            width: 400px;
            border-radius: 10px;
            background-color: var(--primaryLighter);
            font-weight: 400;
            height: 100%;
            padding: 10px 40px 10px 15px;
    
            &::placeholder{
                opacity: 0.8;
                font-weight: 400;
                color: var(--dark);
                padding-left: 4px;
            }

            @media screen and (max-width: $screen-lg) {
                width: 100%;
            }
        }
    }
    
}
    
