//
// Top Navigation
// --------------------------------------------------
.region-top-navigation {
  display: flex;
  align-items: center;
  height: $navbar-height;

  @media screen and (max-width: $screen-md) {
    .cart-flyout {      
      font-size: 13px;
      min-width: 130px;
    }
    #block-leng-account-menu {
      display: none;
    }
  }
}
