body{
  @extend %font-smoothing;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}
.js .lazyloaded {
  transition: opacity 1000ms;
}
.password-strength__meter {
  background: var(--dark);
}
.field--name-body a {
  font-weight: bold;
}

// Page header.
.page-header {
  margin-top: 0;
  margin-bottom: 30px;
  border-bottom: 0;
  text-align: center;
  @extend %headings-line;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

//mobile-number
.mobile-number-field {
  .form-type-textfield {
    input{
      padding: 6px 12px;
      border: 2px solid var(--primaryColor);
      border-radius: 10px;
      width: 250px;
      height: 42px;
    }
  }
}

// Help region.
.region-help {
  > .glyphicon {
    float: left;
    margin: -0.05em 0.5em 0 0;
    font-size: $font-size-large;
  }
  .block {
    overflow: hidden;
  }
}

.main-container{
  overflow: hidden;
}

.help-block, .control-group .help-inline {
  margin: 5px 0 10px;
  padding: 0;
  color: $gray-light;
  font-size: 12px;
  &:first-child {
    margin-top: 0;
  }
}

.author{
  margin-bottom: 25px;
}

img {
  max-width: 100%;
  height: auto;
}
.breadcrumb {
  background: var(--primaryLighter);
  padding:  15px 20px;
  margin: 10px 0 20px 0;
  border-radius: 10px;
  a {
    color: var(--dark);
  }
}

.field--name-list-price {
  text-decoration: line-through;
}

.region-content{
  .block-title {
    font-size: 20px;
    padding: 15px 30px;
    border-bottom: 2px var(--primaryColor) solid;
    text-align: right;
  }
  
}

.swiper-button-prev, .swiper-button-next  {
  width: 130px;
  height: 130px;
  margin-top: -(130px/2);

  @media screen and (max-width: $screen-sm) {
    width: 50px
  }
  
  &:after {
    content:'';
  }
  :hover {
    animation: move-left-right 0.2s infinite alternate-reverse;
  }
}
.field--name-comment-body {
  word-wrap: break-word;
}
.swiper-button-prev {
  transform: rotate(180deg);
}

.col-xs-6 {
  padding: 5px;
}

.grid-item {
  width: 23%;
  @media screen and (max-width: $screen-sm) {
    width: 46%;
  }
}

.grid-item--width2 {
  width: 30%;
  @media screen and (max-width: $screen-sm) {
    width: 46%;
  }
}

.grid-item--width3 {
  width: 30%;
  
  @media screen and (max-width: $screen-md) {
    width: 46%;
  }
  @media screen and (max-width: $screen-sm) {
    width: 96%;
  }
}

.grid-item {
  margin-bottom: 10px;
}
.grid {
  margin-left: 15px;
}

.btn-block {
  text-align: center;
  margin: 5px 20px 20px 20px;

  a {
    display: block;
    padding: 15px;
    color: var(--dark);
    background: #fff;
    border-radius: 10px;
    font-weight: bold;
    border: 3px var(--primaryColor) solid;

    &:hover {
      color: #fff;
      background: var(--dark);
    }
  }
}